# Ignore temp files
.ipynb_checkpoints*
.ignore

# Ignore helper bash scripts
*.sh

# But not the main one
!run.sh

# Ignore notebooks and data folder
notebooks
data/

# But not main results
!data/results/results_all/
!data/results/results_lvp/
